.main {
    background: url("../image/background.png") no-repeat center /cover;
}
.container {
    width: 1060px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: table;
    width: 100%;
    clear: both;
}
.logo {
    float: left;
    margin-top: 49px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: left;
    margin-left: 15px;
}
.contacts {
    float: right;
    margin-top: 49px;
}

.contacts-item {
    padding-top: 7px;
    font-size: 18px;
    text-align: right;
}

.logo-header-bigger {
    font-size: 29px;
    padding-bottom: 6px;
}

.logo-header-smaller {
    font-size: 18px;
}

.image {
    background: url("../image/logo.png");
    width: 46px;
    height: 44px;
    display: block;
}
.logo-hover:hover .logo-header-bigger {
    color:  #f26522;
}
.logo-hover:hover .logo-header-smaller {
    color:  #f26522;
}
.logo-hover:hover .image {
    background: url("../image/logo1.png");
    background-position: 0 -44px;
}

.picture {
    text-align: center;
    margin: 45px 0 35px 61px;
    float: left;
    position: relative;
    text-decoration: none;
}

.picture-border {
    width: 308px;
    height: 200px;
    border: 2px solid transparent;
    border-image: linear-gradient(0deg, black 0%, white 100%);
    border-image-slice: 1;
}

.picture-cover {
    opacity: 0;
    height: 63px;
    width: 312px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #f26522;
    transition: all 0.4s;
}

.picture:hover .picture-cover  {
    transition: all 0.4s;
    bottom: 17%;
    opacity: 1;
}

.picture:hover .picture-text{
    color:  #f26522;
}

.picture-details-smaller-text {
    font-size: 10px;
    padding: 5px 0;
}

.picture-details-price {
    font-size: 20px;
}

.picture-cover-for-price {
    float: left;
    padding: 11px 21px;
    text-align: left;
}

.picture-cover-for-price, .picture-details-bigger-text, .picture-text, .logo, .contacts-item, .footer {
    font-family: Verdana, sans-serif;
    color:  #ffffff;
}

.picture-details-bigger-text {
    font-size: 14px;
    text-align: right;
    float: right;
    padding: 35px 35px 11px;
}

.picture-details-bigger-text:after {
    content: "\00A0\00A0\203A"
}

.picture-text {
    padding-top: 20px;
    font-size: 18px;
}
.picture:nth-child(3n+1) {
    margin-left: 0;
}

.footer {
    font-size: 12px;
    text-align: center;
    margin-top: 61px;
    padding-bottom: 30px;
}

.logo-hover, .picture {
    cursor: pointer;
}
